.nav-spacer {
	padding-top: 147px;

	@media only screen and (max-width: 991px) { padding-top: 243px; }
	@media only screen and (max-width: 768px) { padding-top: 185px; }
}

.bg-shade {
	background-color: rgba(0, 0, 0, 0.55) !important;
}