// [IMPORT]
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

// [IMPORT] Personal //
@import 'src/assets/styles/bootstrap-override.scss';

* {
	font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 200 !important;
}

body {
	@extend .bg-primary;
	
	opacity: 1;
	background-size:
		50px 50px,
		50px 50px
	;
	background-image:
		linear-gradient(
			#f99e2d 49px,
			transparent 0
		),
		linear-gradient(
			90deg,
			#f99e2d 49px,
			transparent 0
		),
	;
}

.bg-svg {
	background-image: url('../bg.svg');
	background-repeat: repeat;
}

.bg-svg-dark {
	background-image: url('../dark-bg.svg');
	background-repeat: repeat;
}

.nav-spacer {
	padding-top: 147px;

	@media only screen and (max-width: 991px) { padding-top: 243px; }
	@media only screen and (max-width: 768px) { padding-top: 185px; }
}

.bg-shade {
	background-color: rgba(0, 0, 0, 0.55) !important;
}

.bg-shade-less {
	background-color: rgba(0, 0, 0, 0.4) !important;
}

.bg-shine {
	background-color: rgba(255, 255, 255, 0.55) !important;
}

.bg-black {
	background-color: black !important;
}

.py-6 {
	padding-top: 100px !important;
	padding-bottom: 100px !important;

	@media only screen and (max-width: 768px) {
		padding-top: 50px !important;
		padding-bottom: 50px !important;
	}
}

.bg-transparent {
	background-color: transparent !important;
}

.text-spread { letter-spacing: 4px; }

.text-spread-sm { letter-spacing: 2px; }

.text-spread-lg { letter-spacing: 8px; }

.hover-card:hover {
	background-color: rgba(136, 136, 136, 0.15) !important;
}

.backlit {
    box-shadow:
        0 0px 0px 0 rgba(255, 255, 255, 5),
        0 0px 10px 0 rgba(255, 255, 255, .4) !important
    ;
}

.backlit-lg {
    box-shadow:
        0 0px 0px 0 rgba(255, 255, 255, 5),
        0 0px 10px 0 rgba(255, 255, 255, .4) !important
    ;
}

.text-backlit {
	text-shadow: 0 0 2px #ffffff, 0 0 8px #ffffff !important;
}

.text-backlit-sm {
	text-shadow: 0 0 1px #ffffff, 0 0 4px #ffffff !important;
}