.nav-spacer { padding-top: 147px; }

@media only screen and (max-width: 991px) { .nav-spacer { padding-top: 243px; } }

@media only screen and (max-width: 768px) { .nav-spacer { padding-top: 185px; } }